<div class="ui raised segment">
  <h2 class="ui header">Demo Form Validation With FormBuilder</h2>
  <form [formGroup]="form" class="ui form" (ngSubmit)="form.valid && addItem(form.value)">
    <div class="field" [class.error]="form.controls['sku'].invalid && form.controls['sku'].touched">
      <label for="sku">SKU</label>
      <input type="text" name="sku" id="sku" [formControl]="form.controls['sku']" required>
      <div *ngIf="form.controls['sku'].hasError('required') && form.controls['sku'].touched" class="ui error message">SKU is required.</div>
      <div *ngIf="form.controls['sku'].hasError('invalidSku') && form.controls['sku'].touched" class="ui error message">SKU must started with number.</div>
    </div>
    <button type="submit" [disabled]="form.invalid" class="ui button">Submit</button>
  </form>
</div>
